<h1>Welcome to RailsChef!</h1>

<% if flash[:notice]%>
<p style= "color: green;"></p>
<% end %>
<p><%= link_to "Create a new recipe", new_recipe_path %></p>


<ul>
  <% for recipe in @recipes do %>
  <tr>
    <li><%= h link_to "#{recipe.title}", recipe %></li><br />
    Created by: <%= h recipe.user %>
 
<% end %>
</ul>
